.landing {
	// display: flex;

	margin-top: 20px;

	.intro {
		margin: 50px 0px;
		height: 600px;
		background: url("./../../assets/images/bg-two.jpg") center center
			no-repeat fixed;
		background-size: cover;
		.first-line {
			display: flex;
			align-items: baseline;

			p {
				margin: 0px 10px;
				font-size: 20px;
			}
		}

		.welcome {
			margin: 20px;

			//   color: #463737;
			color: white;
			font-weight: 100;
			font-size: 100px;

			@media only screen and (min-width: 400px) {
				margin: 50px;

				font-size: 140px;
			}
			@media only screen and (min-width: 600px) {
				font-size: 200px;
			}
		}

		@media only screen and (min-width: 600px) {
			// display: flex;

			// justify-content: flex-start;

			h1.second-line {
				color: #7d7d7d;
				font-size: 70px;
			}
		}
	}

	$colors: red, orange, yellow, green, blue, purple;
	$repeat: 20; // How often you want the pattern to repeat.
	// Warning: a higher number outputs more CSS.

	.we-sell {
		font-size: 61px;
		text-transform: lowercase;
		color: #e2aa00 !important;
	}
	.page-tagline {
		font-size: 90px;
		span {
			margin: 0px 6px;
			@for $i from 1 through $repeat {
				&:nth-child(#{length($colors)}n + #{$i}) {
					background: lighten(
						nth($colors, random(length($colors))),
						20%
					);
				}
			}
		}
	}

	.top-gallery {
		.card {
			padding: 4px;
			//   box-shadow: 0px 0px 10px 10px #e2e2e2;
		}

		.carousel {
			.carousel-item {
				img {
					width: 100%;
				}

				.carousel-caption {
					h3 {
						text-align: left;
					}

					p {
						text-align: left;
					}
				}
			}
		}
	}
}
