.header {
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;

        .left {
            .logo {
                width: 180px;
            }
        }

        .right {
            ul.links {
                display: flex;
                list-style: none;

                li {
                    margin: 0px 10px;

                    a {
                        color: #2a3135;

                        &:hover {
                            text-decoration: none;
                        }

                        &.is-active {
                            font-weight: bold;
                            color: #af2626;
                        }
                    }
                }
            }
        }
    }

}